<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.pullock.points.core.dao.mapper.UserPointsDetailMapper">
  <resultMap id="BaseResultMap" type="fun.pullock.points.core.dao.model.UserPointsDetailDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="config_id" jdbcType="BIGINT" property="configId" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="total" jdbcType="BIGINT" property="total" />
    <result column="used" jdbcType="BIGINT" property="used" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="unique_source_id" jdbcType="VARCHAR" property="uniqueSourceId" />
    <result column="biz_id" jdbcType="BIGINT" property="bizId" />
    <result column="biz_description" jdbcType="VARCHAR" property="bizDescription" />
  </resultMap>

  <sql id="Base_Column_List">
    id, create_time, update_time, user_id, config_id, channel_code, expire_time, total, 
    used, source, unique_source_id, biz_id, biz_description
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_points_detail
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_points_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="fun.pullock.points.core.dao.model.UserPointsDetailDO">
    insert into user_points_detail (
      id, create_time, update_time,
      user_id, config_id, channel_code, 
      expire_time, total, used,
      source, unique_source_id, biz_id,
      biz_description
    ) values (
      #{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=BIGINT}, #{configId,jdbcType=BIGINT}, #{channelCode,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{total,jdbcType=BIGINT}, #{used,jdbcType=BIGINT},
      #{source,jdbcType=VARCHAR}, #{uniqueSourceId,jdbcType=VARCHAR}, #{bizId,jdbcType=BIGINT},
      #{bizDescription,jdbcType=VARCHAR}
    )
  </insert>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="fun.pullock.points.core.dao.model.UserPointsDetailDO">
    insert into user_points_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="configId != null">
        config_id,
      </if>
      <if test="channelCode != null">
        channel_code,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="used != null">
        used,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="uniqueSourceId != null">
        unique_source_id,
      </if>
      <if test="bizId != null">
        biz_id,
      </if>
      <if test="bizDescription != null">
        biz_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="configId != null">
        #{configId,jdbcType=BIGINT},
      </if>
      <if test="channelCode != null">
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null">
        #{total,jdbcType=BIGINT},
      </if>
      <if test="used != null">
        #{used,jdbcType=BIGINT},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="uniqueSourceId != null">
        #{uniqueSourceId,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null">
        #{bizId,jdbcType=BIGINT},
      </if>
      <if test="bizDescription != null">
        #{bizDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="fun.pullock.points.core.dao.model.UserPointsDetailDO">
    update user_points_detail
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="configId != null">
        config_id = #{configId,jdbcType=BIGINT},
      </if>
      <if test="channelCode != null">
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=BIGINT},
      </if>
      <if test="used != null">
        used = #{used,jdbcType=BIGINT},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="uniqueSourceId != null">
        unique_source_id = #{uniqueSourceId,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null">
        biz_id = #{bizId,jdbcType=BIGINT},
      </if>
      <if test="bizDescription != null">
        biz_description = #{bizDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="fun.pullock.points.core.dao.model.UserPointsDetailDO">
    update user_points_detail
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      config_id = #{configId,jdbcType=BIGINT},
      channel_code = #{channelCode,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      total = #{total,jdbcType=BIGINT},
      used = #{used,jdbcType=BIGINT},
      source = #{source,jdbcType=VARCHAR},
      unique_source_id = #{uniqueSourceId,jdbcType=VARCHAR},
      biz_id = #{bizId,jdbcType=BIGINT},
      biz_description = #{bizDescription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectExpiring" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_points_detail
    where user_id = #{userId,jdbcType=BIGINT}
      and expire_time is not null
      and expire_time <![CDATA[>= ]]> #{now}
    order by expire_time asc, id asc
  </select>

  <select id="selectUnlimited" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_points_detail
    where user_id = #{userId,jdbcType=BIGINT}
    and expire_time is null
    order by id asc
  </select>

  <update id="use">
    update user_points_detail
      set used = used + #{used},
          update_time = now()
    where id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.util.List">
    delete from user_points_detail where id in
     <foreach collection="ids" item="id" open="(" separator="," close=")">
       #{id}
     </foreach>
  </delete>
</mapper>